In [1]:
#Q.1
lst = [1,-2,-3,-4,0,1,2,3,4]
cnt_p = 0
cnt_0 = 0
cnt_n = 0
i=0
while i  <= len(lst)-1:
    if lst[i] < 0:
        cnt_n = cnt_n+1
    elif lst[i] > 0:
        cnt_p = cnt_p+1
    else:
        cnt_0 = cnt_0+1
    i+=1
print("count of positive value is", cnt_p)
print("count of negative value is", cnt_n)    
print("count of zero value is", cnt_0)

count of positive value is 5
count of negative value is 3
count of zero value is 1

In [14]:
#Q.2 even number
n= int(input("enter"))
if n%2==0:
    print ("Number is even")
else:
    print("Number is odd")

enter6
Number is even

In [16]:
#Q.3
lst = [1,5,8,10,11,12,16]
i=0
even=0
odd=0
while i < len(lst):
    if lst[i]%2==0:
        even=even+1
    else:
        odd=odd+1       
    i+=1
print ("Count of even number is",even)
print("Count of odd number is",odd)

Count of even number is 4
Count of odd number is 3

In [25]:
#Q3(b)
lst = [1,5,8,10,11,12,16]
even=0
odd=0
for i in range(0, len(lst)):
    if lst[i]%2==0:
        even=even+1
    else:
        odd=odd+1

print ("Count of even number is",even)
print("Count of odd number is",odd)

Count of even number is 4
Count of odd number is 3

In [81]:
#Q=4
n=int(input("enter"))
if(n==1):
    print("Prime")
flag = True
for i in range(2,n):
    if n%i==0:
        flag = False
        break
if(flag==True):
    print("Prime")
else:
    print("Not Prime")

enter15
Not Prime

In [172]:
for num in range(2,21):

    for i in range(2,num):
        if n%i==0:
            break
    else:
            print(num)

2

TypeError: not all arguments converted during string formatting

In [189]:
#Q.5
a=int(input("enter a"))
b=int(input("enter b"))
c=0
c=a
a=b
b=c
print (a,b)

enter a6
enter b5
5 6

In [192]:
#Q.6

s=input("enter")
sum = 0
for i in range(0,len(s)):
    sum=int(s[i])+sum
print(sum)

enter56
11

In [150]:
#Q.7
n = input("enter")
print (len(n))

enter645
3

In [218]:

for num in range(2,21):
    flag= False
    for i in range(2, num):
        if num%i==0:
            flag=True
            break
    if(flag==False):
        print(num)

2
3
5
7
11
13
17
19

In [1]:
#n = input("enter")
n=22

TypeError: object of type 'int' has no len()

In [6]:
marks = 75
if marks>=90:
    print ("Grade = A")
elif marks<90 and marks>=80:
    print ("Grade = B")
elif marks<80 and marks>=70:
     print ("Grade = C")
else:
     print ("Grade = D")

Grade = C

In [10]:
num = int(input("Enter"))
if num%2==0:
    print("Even")
else:
    print("Odd")

Enter6
Even

In [ ]:
n1=int(input("Enter n1"))
n2=int(input("Enter n2"))
n3=int(input("Enter n3"))
if n1>n2 and n1>n3:
    print(n1)
elif n2>n1 and n2>n3:
    print(n2)
else:
    print(n3)

In [ ]:
num=int(input("Enter"))
if num%7==0:
    print(num, "is multiple of 7")
else:
     print(num, "is not multiple of 7")

In [ ]:
a= aditi
for i in range(len(a),0):
    print

In [34]:
i=int(input("Enter"))
sum=0
while(i>0):
    sum= sum + i%10
    i=i//10
print(sum)

19

In [48]:
i=int(input("Enter"))
prd=1
while(i>0):
    prd =prd*(i%10)
    i=i//10
print(prd)

Enter55
25

In [100]:
#int(input("Enter"))
i=124
if i<0:
    i=i*-1
elif i==0:
    print(1)
cnt=0
while (i>0):
    cnt=cnt+(1)
    i=i//10
print(cnt)

3

In [101]:
#int(input("Enter"))
i=-112
p=2
sum=0
rem = 0
res = 1
while(i>0):
    rem = i%10
    for j in range(1,p+1):
        res = rem*res
    sum = sum + res
    res=1
    i=i//10
print(sum)

0

In [ ]:
i

In [92]:
#int(input("Enter"))
i=0000
cnt=0
while (i>0):
    cnt = cnt+1
    i=i//10
print(cnt)

0

In [107]:
i=int(input("Enter"))
if i<0:
    i=i*-1
elif i==0:
    print(1)
    exit()
cnt=0
while (i>0):
    cnt=cnt+(1)
    i=i//10
print(cnt)

Enter0
1
0

In [31]:
i=100
rem=0
rev = 0
while (i>0):
    rem = i%10
    rev=(rev*10) + rem
    i=i//10
print(rev)

1

In [47]:
i=88
a=i
rem=0
rev=0
while(i>0):
    rem =i%10
    rev= (rev*10)+rem
    i=i//10
if (a==rev):
    print("a")
else:
    print("b")

a

In [10]:
a="adida"
b=a[::-1]
if a==b:
    print ("p")
else:
    print("np")

p

In [14]:
a="aabaa"
if a==a[::-1]:
    print ("p")
else:
    print("np")

p

In [15]:
lst= []
lst.append(input("enter 1"))
lst.append(input("enter 2"))
lst.append(input("enter 3"))
print(lst)

enter 1a
enter 2b
enter 3c
['a', 'b', 'c']

In [21]:
lst=[1,2,3,2,1]
j=len(lst)-1
flag=False
for i in range (0,j):
    if lst[i]==lst[j]:
        flag=True
    else:
        flag=False
    j=j-1
if flag== True:
    print("P")
else:
    print("np")

P

In [22]:
word = {"table": ["a","b"], "cat":"c"}
print(word)

{'table': ['a', 'b'], 'cat': 'c'}

In [24]:
lst = {"a","b","c","d","e","a","b"}
print(len(lst))

5

In [26]:
dic={}
dic[input("enter sub1")]=int(input("enter marks1"))
dic[input("enter sub2")]=int(input("enter marks2"))
dic[input("enter sub3")]=int(input("enter marks3"))
print(dic)

enter marks120
enter sub1science
enter marks250
enter sub2pysics
enter marks340
enter sub3maths
{'science': 20, 'pysics': 50, 'maths': 40}

In [32]:
a="9"
b="9.0"
st={a,b}
print(st)

{'9.0', '9'}

In [1]:
n="aditi"
cnt=0
b=""
for i in "aditi":
    cnt=cnt+1
while cnt>0:
    b=b+n[cnt-1]
    cnt=cnt-1
print(b)

itida

In [2]:
n ="aditi"
b=""
for i in n:
    b=i+b
print(b)

itida

In [3]:
n ="adida"
a=n
b=""
for i in n:
    b=i+b
if a==b:
    print("pallndrom")
else:
    print("not pall")

pallndrom

In [4]:
str="yash is good boy"
print (str.split())

['yash', 'is', 'good', 'boy']

In [5]:
n="adia"
for j in range (0,len(n)):
    b=n[j]
    if a==b:
        print("palandrome")
    else:
        print("not")

not
not
not
not

In [8]:
n="aditi123"
y =chr(66)
print(y)
h ='B'
z= ord(h)
print(z)

B
66

In [7]:
n="adiida"
j=len(n)
flag= False
for i in range(0,len(n)//2-1):
    j=  j -1
    if n[i]==n[j]:
        flag=True
    else:
        break
if flag==True:
    print("p")
else:
    print("pn")

p

In [9]:
n ="aditi1239"
cnt1=0
cnt2=0
cnt3=0
for i in n:
    a = ord(i)
    if a >= 48 and a<=57:
        cnt1=cnt1+1
    elif a >=65 and a<= 90:
        cnt2=cnt2+1
    elif a>=97 and a<=122:
        cnt3=cnt3+1
print("Count of Upper case is",cnt2)
print("Count of Lower case is",cnt3)
print("Count of Number is",cnt1)

Count of Upper case is 0
Count of Lower case is 5
Count of Number is 4

In [10]:
n ="123aditi1239"
b= ""
c=""
a=ord(n[0])
if a>=97 and a<=122:
    for i in range(1,len(n)):
        b=chr(a-32)
        c=c+n[i]
else:
    print(n)
print(b+c)

123aditi1239

In [11]:
n ="aditi1239"
lower_cnt = 0
upper_cnt = 0
number_cnt = 0
other_cnt = 0
for a in n:
    if a >= 'a' and a<='z':
        lower_cnt=lower_cnt + 1
    elif a >='A' and a<= 'Z':
        upper_cnt=upper_cnt+1
    elif a>='0' and a<='9':
        number_cnt=number_cnt+1
    else:
        other_cnt = other_cnt + 1
print("Count of Upper case is",upper_cnt)
print("Count of Lower case is",lower_cnt)
print("Count of Number is",number_cnt)
print("Count of other is",other_cnt)

Count of Upper case is 0
Count of Lower case is 5
Count of Number is 4
Count of other is 0

In [12]:
n="Aditi"
a=chr((ord(n[0]))+32)
for i in  range(1,len(n)):
    a=a+n[i]
print(a)

aditi

In [13]:
n="ADITI"
a=""
for i in  range(0,len(n)):
    a=a+chr((ord(n[i]))+32)
print(a)

aditi

In [14]:
n="aditi"
a=""
for i in  range(0,len(n)):
    a=a+chr((ord(n[i]))-32)
print(a)

ADITI

In [15]:
n="diad"
i=0
flag=False
j=len(n)-1
while(i<=j):
    if n[i]==n[j]:
        flag=True
    else:
        flag = False
        break;
    i=i+1
    j=j-1
    
if flag==True:
    print("p")
else:
    print("n")

n