In [4]:
i = 1
while i <= 5:
    print("Hello",i)
    i += 1
    
print("end")

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
end

In [9]:
i = 5
while i>=1:
    print (i)
    i -= 1

5
4
3
2
1

In [12]:
#print numbers from 1 to 100
i=1
while i<=100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
#print numbers from 100 to 1
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [27]:
#multiplication tabel of n

i = int(input("enter"))
a = 1
while a<=10:
 print(i*a)
 a+=1

enter6
6
12
18
24
30
36
42
48
54
60

In [28]:
#print element  of given list
lst = [1,4,9,16,25,36,49,64,81,100]
i = 0
while i<len(lst):
    print (lst[i])
    i += 1

1
4
9
16
25
36
49
64
81
100

In [ ]:
lst = (1,4,9,16,25,36,49,64,81,100)

In [4]:
lst = (1,4,9,16,25,36,49,64,36,81,100)

x = int(input("enter value"))
i = 0
while i<len(lst):
    if (lst[i] == x):
        print("found at idx", i)
    i += 1

enter value36
found at idx 5
found at idx 8

In [3]:
l =[1,2,3,4]
for a in l:
 print(a)

1
2
3
4

In [10]:
l =[1,2,3,4]
x = int(input("enter"))
for a in l:
    if a == x:
      print("x found at", a)

enter4
x found at 4

In [15]:
st = 'Print only the words that start with s in this sentence'
x = st.split()

In [16]:
for a in x:
    if x[0][0] == "s":
        print(x)

In [35]:
for i in range(20,101,20):
    print(i)

20
40
60
80
100

In [34]:
for i in range(10,0,-1):
 print(i)

10
9
8
7
6
5
4
3
2
1

In [36]:
a = int(input("enter n"))
for i in range(1,11):
    print(a*i)

enter n2
2
4
6
8
10
12
14
16
18
20

In [60]:
n = int(input("enter value"))
i=1
sum=0
while i <= n:
    sum = i + sum
    i=i+1
print(sum)

enter value5
15

In [63]:
n=int(input("enter"))
i=1
fact=1
while i<=n:
    fact=i*fact
    i=i+1
print(fact)

enter5
120

In [65]:
n=int(input("enter"))
fact=1
for i in range(1,n+1):
    fact=i*fact
    i=i+1
print(fact)

enter5
120

In [67]:
n=int(input("enter"))
sum=0
for i in range(1,n+1):
    sum=i+sum
print(sum)

enter5
15

In [79]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [125]:
i=9
for n in range(1,i+1):
 print("*"*n, end="")
 print()

*
**
***
****
*****
******
*******
********
*********

In [ ]:
lst = [1,2,3,4,5,6,7,8]
while

In [121]:
for i in range(1,5):
    for a in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444

In [143]:
i=9
for n in range(1,i+1):
 print(str(n)*n,end="")
 print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [160]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i, end="")
    print()

55555
4444
333
22
1

In [165]:
for n in range(5,0,-1):
    print(str(n)*n, end="")
    print()

55555
4444
333
22
1

In [186]:
for i in range(6,0,-1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [187]:
for i in range(6,0,-1):
    for j in range(i,0,-1):
        print (j, end=" ")
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [195]:
for i in range(0,5):
    for j in range(0,5-i):
        print (5-j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [205]:
n = int(input("enter"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(n+1-j,end=" ")
    print()

enter5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [235]:
n = int(input("enter"))
for i in range(0,n+1):
    for j in range (1,n+1-i):
        print(j,end=" ")
    print()

enter5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [234]:
for i in range(0,n+1):
    for j in range (1,n+1-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [261]:
for j in range (0,5):
 print("*"*(5-j),end=" ")
 print()

*****
****
***
**
*

In [262]:
a=5
for a in range(5,0,-1):
    print("*"*a, end=" ")
    print()

*****
****
***
**
*

lst = [-1,-2,-3,-4,0,1,2,3,4]
cnt_p = 0
cnt_0 = 0
cnt_n = 0
i=0
while i  <= len(lst)-1:
    if lst[i] < 0:
        cnt_n = cnt_n+1
    elif lst[i] > 0:
        cnt_p = cnt_p+1
    else:
        cnt_0 = cnt_0+1
    i+=1
print("count of positive value is", cnt_p)
print("count of negative value is", cnt_n)    
print("count of zero value is", cnt_0)

In [284]:
lst = [-1,-2,-3,-4,0,1,2,3,4]
print(len(lst))

9